body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
    background-color: darkseagreen;
}


/* heading */
h1 {
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
    text-shadow: 1px 1px 5px darkolivegreen;
}

/* main content */
.main-content {
    background-color: rgba(238, 236, 236, 0.4);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

/* header */
#quizHead {
    font-size: 25px;
    border-bottom: 1px solid black;
}

/* instructions */
#quizInst {
    font-size: 20px;
}

/* button */
button {
    border: none;
    background-color: #556B2F;
    border-radius: 25px;
    color: whitesmoke;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #3CB371;
    border: 1px solid #fff;
}
/* button end */